<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="55483cc8-d786-415e-9fc4-1d1fb7bb03ec" Publisher="CN=ip" Version="1.0.0.1" />
  <Properties>
    <DisplayName>InvalidPlayer</DisplayName>
    <PublisherDisplayName>saki</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="InvalidPlayer.Windows.App">
      <m2:VisualElements DisplayName="InvalidPlayer" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="InvalidPlayer.Windows" ForegroundText="light" BackgroundColor="transparent">
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="deepPink" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="weburl">
            <DisplayName>weburl</DisplayName>
          </Protocol>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>